# ── Base de datos ────────────────────────────────────────────────────────────
sqlalchemy
pyodbc

# ── Data ─────────────────────────────────────────────────────────────────────
pandas

# ── Excel / CSV ───────────────────────────────────────────────────────────────
openpyxl
xlsxwriter

# ── Dashboards ───────────────────────────────────────────────────────────────
dash
plotly

# ── Utilidades ───────────────────────────────────────────────────────────────
python-dotenv
tabulate
